<#@ assembly name="System.Runtime.dll" #>
<#@ assembly name="$(TargetDir)CSharpE.Samples.Core.dll" #>
<#@ import namespace="CSharpE.Samples.Core" #>
<#@ output extension=".cs" #>
using System;

<# foreach (var entityKind in EntityKinds.ToGenerate) { #>
class <#= entityKind.Name #>
    : IEquatable<<#= entityKind.Name #>>
{
<# foreach (var property in entityKind.Properties) { #>
    public <#= property.Type #> <#= property.Name #> { get; set; }
<# } #>
}
<# } #>